@font-face {
    font-family: 'linux_libertine_caBdsmallcaps';
    src: url('https://institutodoamanha.vercel.app/Fonts/Libreinuxlinlibertine_abs-webfont.woff2') format('woff2'),
         url('https://institutodoamanha.vercel.app/Fonts/Libreinuxlinlibertine_abs-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}